body {
    background-color: #000E14;
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

table {
    border-collapse: collapse;
    width: 1500px;
}

th,
td {
    padding: 10px;
    text-align: center;
    color: white;
    white-space: nowrap;
    height: 33px;
    width: 1600px;
}

th {
    height: 50px;
}

thead {
    background-color: #191E24;
}

tbody tr:nth-child(even) {
    background-color: #34383C;
}

.banner {
    background-color: #34383C;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h1 {
    color: white;
    font-size: 50px;
    padding-left: 4cm;
    font-family: Poppins;
}

.banner .navigation {
    margin-right: 60px;
}

.banner .navigation {
    color: white;
    font-size: 30px;
}

.tabelle {
    background-color: #191E24;
    width: 1500px;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: #34383C;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h1 {
    color: white;
    font-size: 50px;
    padding-left: 4cm;
    margin-top: 20px;
}

.banner .navigation {
    margin-right: 60px;
}

.banner .navigation {
    color: white;
    font-size: 30px;
}


/* Hintergrund*/

.tabelle {
    background-color: #191E24;
    width: 1500px;
    height: 655px;
    justify-content: center;
    align-items: center;
    margin-left: 210px;
}

.header-tabelle h2 {
    color: white;
    font-size: 30px;
    margin-top: 130px;
    margin-left: 210px;
}